@model IEnumerable<WebEcommerce.Models.Cartao>

@{
    ViewData["Title"] = "Cartoes";
}

<h1>Cartoes</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodCartao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUsu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeTitular)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoCartao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CVV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataValidade)
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodCartao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeTitular)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoCartao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CVV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataValidade)
            </td>
        </tr>
}
    </tbody>
</table>
